@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;1,500;1,600;1,700&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
:root{
    --theme-little-dark: #3C3744;
    --theme-light-grey: #ffffffad;
    --theme-true-blue: #3066BE;
    --theme-duke-blue: #090C9B;
    --theme-light-steel: #B4C5E4;
    --theme-ivory: #FBFFF1;
}

.main-about{
  font-family: 'Ubuntu', sans-serif;
}

.about-row{
    display: flex;
    justify-content: space-evenly;
}

.content-left{
    margin-top: 40px;
    width: 400px;
    margin-bottom: 40px;
}

.content-right{
    margin-top: 40px;
    width: 400px;
    margin-bottom: 40px;
}

.logoname{
    color: var(--theme-true-blue);
    font-weight: bold;
}

.content-text{
    padding: 20px;
    max-width: 500px;
    border-radius: 10px;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    /* text-align: justify; */

}

/* .shadow{
    box-shadow: rgba(64, 160, 255, 0.2) 0px 8px 24px;
} */

.color-1{
    background-color: rgb(146 177 239 / 37%);
}

.color-2{
    background-color: rgb(164 237 254 / 39%);
}

.color-3{
    background-color: rgb(104 225 253 / 49%);
}



.marg-t{
    margin-top: 20px;
}


@media only screen and (max-width: 1020px) {
    
    .about-row{
        flex-direction: column;
        align-items: center;
    }
    .content-text{
        margin: 10px;
    }
    .content-left{
        display: none;
    }
  }

  @media only screen and (max-width: 400px) {
    
    .about-row{
        flex-direction: column;
        align-items: center;
    }
    .content-text{
        margin: 10px;
        width: 300px;
    }
  }